@model  List<DotnetSpider.Portal.Models.TaskStatus>
@{
    Layout = null;
}
<div class="row">
    <div class="col-sm-12">
        <table id="taskStatusTable" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="Task Status">
            <thead>
                <tr role="row">
                    <th tabindex="0" rowspan="1" colspan="1" aria-sort="ascending">Task Group</th>
                    <th tabindex="0" rowspan="1" colspan="1">Identity</th>
                    <th tabindex="0" rowspan="1" colspan="1">Status</th>
                    <th tabindex="0" rowspan="1" colspan="1">Message</th>
                    <th tabindex="0" rowspan="1" colspan="1">Last Update</th>
                    @*<th tabindex="0" rowspan="1" colspan="1">Run</th>*@
                    <th tabindex="0" rowspan="1" colspan="1">Exit</th>
                    <th tabindex="0" rowspan="1" colspan="1">Log</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var task in Model)
                {
                    <tr role="row" class="odd">
                        <td>@task.TaskGroup</td>
                        <td>@task.Identity</td>
                        <td><span class="@task.StatusClass" style="width: 60px">@task.Status</span></td>
                        <td>@task.Message</td>
                        <td>@task.Logged</td>
                        @*<td><a href="#" class="btn-link"><i class="fa fa-play"></i>Run</a></td>*@
                        @if (task.Status == "Running" || task.Status == "Init")
                        {
                            <td><a href="#" class="btn-link" onclick="stopTask('@task.Identity')"><i class="fa fa-stop"></i>Exit</a></td>
}
                        else
                        {
                            <td>Can't Exit</td> }
                        <td><a href="~/log/list/?identity=@task.Identity&page=1&pageSize=15" title="Log">View Log</a></td>
                    </tr>}
            </tbody>
        </table>
    </div>
</div>
